<footer class="container" style="margin-top: 100px;">
  <p class="text-center">电影即人生，人生即电影
    <br>Design by
    <a href="http://courses.growthschool.com/courses/rails-101/" target="_new">Yellowfitman</a>
  </p>
</footer>
